.listboxContainer {
  width: 100%;
}

.relative {
  position: relative;
  width: 100%;
}

.button {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  color: var(--text-default);
  outline: none;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--gray-700);
  transition: all 0.1s ease-in-out;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.button:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--gray-700);
}

.buttonText {
  flex: 1;
  text-align: center;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  transition: transform 0.2s ease-in-out;
}

.button[aria-expanded='true'] .icon {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--gray-900);
  border-radius: 0.8rem;
  margin-top: 0.4rem;
  border: 0.2rem solid var(--gray-600);
  list-style: none;
  padding: 0.4rem 0;
  z-index: 10;
  max-height: 20rem;
  overflow-y: auto;
}

.option {
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  color: var(--text-default);
  transition: all 0.1s ease-in-out;
}

.option.active {
  background-color: var(--gray-400);
}

.option.selected {
  background-color: var(--gray-300);
  color: black;
  font-weight: 600;
}
